:root {
  /* Колір тексту */
  --main-txt-color: #212121;
  --secondary-txt-color: #757575;
  --dark-logo-color: #000;
  --light-logo-color: #fff;
  --secondary-title-color: #fff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  /* Колір фону */
  --root-color: #fff;
  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --projects-color: #eee;
  /* Шрифти */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Інше */
  --accent-color: #2196f3;
  --btn-accent-color: #188ce8;
  --icon-color: #afb1b8;
  --border-color: #eee;
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 1;
}
