.services {
  display: none;
}

// .services {

//   &__title {
//     margin-bottom: 50px;
//   }

//   &__item {
//     position: relative;
//   }

//   &__desc-wrapper {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     background-color: rgba(47, 48, 58, 0.8);
//     width: 100%;
//   }

//   &__sec-title {
//     text-align: center;
//     padding: 27px 0;
//   }
// }
