.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  cursor: pointer;

  transition: background-color var(--main-animation);

  &:hover,
  &:focus {
    background-color: var(--btn-accent-color);
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  fill: currentColor;

  transition: color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.order__btn {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .order__btn {
    width: 216px;
  }
}

.order-form__btn {
  margin: 0 auto;
}

.submit__btn {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .submit__btn {
    margin: 0;
  }
}

.filter__btn {
  font-family: var(--main-font);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  border: none;
  padding: 6px 22px;
  cursor: pointer;

  transition: color var(--main-animation), background-color var(--main-animation),
    box-shadow var(--main-animation);

  &:hover,
  &:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--root-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: currentColor;

  transition: color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
