.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: currentColor;

  transition: color var(--main-animation), background-color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
  }

  &--light {
    color: var(--icon-color);
  }

  &--dark {
    color: var(--secondary-title-color);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
